* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100%;
}

#header {
  height: 60px;
  background-color: rgb(118, 212, 212);
}

#header h1 {
  color: blue;
  font-size: 26px;
  font-family: sans-serif;
  border-radius: 5px;
  position: relative;
}
h1::after {
  content: "BETA!";
  background-color: yellow;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#footer {
  height: 25px;
}
li {
  color: blue;
  margin-bottom: 10px;
}

#nav_snb {
  padding: 20px;
  min-width: 200px;
}

#nav_snp {
  padding: 25px;
  min-width: 250px;
}
#content_top {
  height: 75px;
  background-color: brown;
  text-align: center;
  display: flex;
  justify-content: center;
}

#content_top button {
  width: 55px;
  height: 55px;
}
#content_top h1 {
  padding: 10px;
}
#month_frame {
  height: calc(100% - 75px);
}

nav li {
  padding: 20px;
}
aside {
  padding: 20px;
  border: 2px solid black;
  width: 25%;
  display: inline-block;
}

#container {
  width: 100%;
  height: calc(100% - 86px);
  background-color: bisque;
  display: flex;
}

#section_cen {
  flex: 1;
  height: 100%;
}

#content {
  height: 100%;
}

/* button {
  padding: 10px;
  position: absolute;
  bottom: 50px;
  right: 50px;
} */

h1::first-letter {
  font-size: 30px;
  position: relative;
}
li::first-line {
  color: brown;
}

/* 
h3 + p ::first-line {
} */

table {
  width: 100%;
  height: 100%;
}

th {
  text-align: left;
  height: 50px;
}
td {
  width: 100px;
  vertical-align: top;
  border: 1px solid black;
}

article p {
  height: 10%;
  border: 1px solid blue;
}
