/* Header */
.float-button {
  position: fixed;
  left: 1vh;
  top: 1vh;
  z-index: 2000;
}
.react-calendar-timeline .rct-header-root {
  /* border-bottom: none; */
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: #f0f3f4 0 0 1rem;
  text-align: center;
  background: #fff;
}

.react-calendar-timeline .rct-calendar-header {
  border: none;
}

.react-calendar-timeline .rct-dateHeader {
  pointer-events: none;
  border: none;
  background: #fff;
  font-size: 1.2rem;
  font-weight: 300;
}

.react-calendar-timeline .rct-dateHeader-primary {
  color: #000;
  padding-right: 2.6rem;
  text-transform: uppercase;
}

/* Vertical lines */
.react-calendar-timeline .rct-vertical-lines .rct-vl {
  border-left: none;
}

.react-calendar-timeline .rct-vertical-lines .rct-vl:nth-child(odd) {
  background: #fff;
}

.react-calendar-timeline .rct-vertical-lines .rct-vl:nth-child(even) {
  background: #f0f3f4;
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-even {
  background: #fff;
}
.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-odd {
  background: #f0f3f4;
}
.react-calendar-timeline .rct-sidebar .rct-sidebar-row {
  border: none;
}
