/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");

:root {
  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-border-lightgray: rgba(0, 0, 0, 0.16);
  --color-lightgray: #f0f3f4;
  --color-red: #d32f2f;

  /* Dimensions */
  --footer-menu-height: 60px;
}

html {
  box-sizing: border-box;
  font-size: 72.55%;
}

body {
  margin: 0;
  overflow-x: hidden;
  padding-bottom: var(--footer-menu-height);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
