.sticky {
  position: sticky;
  top: 0;
  z-index: 2000;
}

/* Header */
.react-calendar-timeline .rct-header-root {
  border-bottom: none;
  position: relative;
  z-index: 99;
  box-shadow: var(--color-border-lightgray) 0 0 1rem;
  text-align: center;
}

.react-calendar-timeline .rct-calendar-header {
  border: none;
}

.react-calendar-timeline .rct-dateHeader {
  pointer-events: none;
  border: none;
  background: var(--color-white);
  font-size: 1.2rem;
  font-weight: 300;
}

.react-calendar-timeline .rct-dateHeader-primary {
  color: var(--color-black);
  padding-right: 2.6rem;
  text-transform: uppercase;
}

/* Vertical lines */
.react-calendar-timeline .rct-vertical-lines .rct-vl {
  border-left: none;
}

.react-calendar-timeline .rct-vertical-lines .rct-vl:nth-child(odd) {
  background: var(--color-white);
}

.react-calendar-timeline .rct-vertical-lines .rct-vl:nth-child(even) {
  background: var(--color-lightgray);
}
